:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors */
  --color-background: #d6c8ad;
  --color-loader-bg: #d6c8ad;
  --color-loader-bar-bg: rgba(101, 82, 60, 0.1);
  --color-loader-bar-fill: rgb(101, 82, 60);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

#root {
  position: relative;
  min-height: 100svh;
}
